@model HomeDetailsViewModel
@*@model EmployeeManagement.Models.Employee*@

@*this may result in code cuplication - non DRY*@
@*using _ViewStart.cshtml instead*@
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = "Employee Details";
    var photoPath = "~/Images/" + (Model.Employee.PhotoPath ?? "noimage.jpg");
}


@*<h3>@ViewData["PageTitle"]</h3>*@

@*<h3>@ViewBag.PageTitle</h3>*@

<h3>@Model.PageTitle</h3>

@*@{
        var employee = ViewData["Employee"] as EmployeeManagement.Models.Employee;
    }*@



@*<div>
        Name: @ViewBag.Employee.Name
    </div>
    <div>
        Email: @ViewBag.Employee.Email
    </div>
    <div>
        Department: @ViewBag.Employee.Department
    </div>*@

@*<p>Using strongly typed view</p>
    <div>
        Name: @Model.Name
    </div>
    <div>
        Email: @Model.Email
    </div>
    <div>
        Department: @Model.Department
    </div>*@
@*<p>Using strongly typed view with ViewModel to include page title w/ intellisense</p>
<div>
    Name: @Model.Employee.Name
</div>
<div>
    Email: @Model.Employee.Email
</div>
<div>
    Department: @Model.Employee.Department
</div>*@

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card" style="width: 20rem;">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="@photoPath" asp-append-version="true" />

                <h4>Employee ID: @Model.Employee.Id</h4>
                <h4>Email: @Model.Employee.Email</h4>
                <h4>Department: @Model.Employee.Department</h4>

            </div>
            <div class="card-footer text center">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                <a asp-action="edit" asp-controller="home" 
                   asp-route-id="@Model.Employee.Id"
                   class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
   
}