@model HomeDetailsViewModel
@*@model EmployeeManagement.Models.Employee*@

@*this may result in code cuplication - non DRY*@
@*using _ViewStart.cshtml instead*@
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee Details";
}


@*<h3>@ViewData["PageTitle"]</h3>*@

@*<h3>@ViewBag.PageTitle</h3>*@

<h3>@Model.PageTitle</h3>

@*@{
        var employee = ViewData["Employee"] as EmployeeManagement.Models.Employee;
    }*@



@*<div>
        Name: @ViewBag.Employee.Name
    </div>
    <div>
        Email: @ViewBag.Employee.Email
    </div>
    <div>
        Department: @ViewBag.Employee.Department
    </div>*@

@*<p>Using strongly typed view</p>
    <div>
        Name: @Model.Name
    </div>
    <div>
        Email: @Model.Email
    </div>
    <div>
        Department: @Model.Department
    </div>*@
<p>Using strongly typed view with ViewModel to include page title w/ intellisense</p>
<div>
    Name: @Model.Employee.Name
</div>
<div>
    Email: @Model.Employee.Email
</div>
<div>
    Department: @Model.Employee.Department
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}